alembic==1.16.4
beautifulsoup4==4.14.2
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Limiter==3.5.1
folium>=0.16
geopy>=2.4
google-cloud-secret-manager==2.24.0
google-cloud-storage==2.18.2
gunicorn==22.0.0
hypercorn>=0.15.0
h2>=4.0.0
mysql-connector-python==8.1.0
openpyxl==3.1.5
pandas==2.3.1
PyMySQL==1.1.1
paramiko==3.4.0
pg8000==1.30.3
